{
	"astroAllowShorthand": true,

	"importOrder": [
		"<TYPES>",
		"<TYPES>^(node:)",
		"<TYPES>^[.]",
		"",
		"<BUILTIN_MODULES>",
		"",
		"^react(-dom)?(/.*)?$",
		"",
		"^(?!(?:node:)|[./]|@(?:app|entities|features|pages|shared|components|convex/_generated)/).+",
		"",
		"^@convex/_generated(/.*)?$",
		"",
		"^@(?:app|entities|features|pages|shared)(/.*)?$",
		"",
		"^(?!.*[.]css$)[./].*$",
		"",
		".css$"
	],

	"importOrderParserPlugins": ["typescript", "jsx", "decorators"],

	"importOrderTypeScriptVersion": "5.0.0",

	"plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

	"printWidth": 130,

	"tabWidth": 2,

	"useTabs": true
}
